
@charset "UTF-8";
/* 全画面共通------------------------------------------------------------------------------------*/
/* 全体 */
body{
  font-family: "Zen Old Mincho", serif;
  margin:0;
  color: rgb(46, 26, 1);
  background: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
}

main {
    flex: 1;
}


a { 
	text-decoration: none;
}

img {
	max-width: 100%;
}
/* タイトル */
h1 {
  margin: 0;
  padding-top: 1.5rem;
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}

.logo {
  width: 2.2rem;
  padding-top: 1.5rem;
}

/* ヘッダー */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	padding: 1rem;
	justify-content: center;
	  gap: 1rem;
	  margin: 0;
	  background: #10533e;
}

.logotitle{
	margin-right: auto;
	display: flex;
	align-items: center;
}
.logotitle {
	margin:0;
}


.header-menu {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	
}
.header-menu a {
	border: none;
	text-decoration: none;
	color: #e5e5e5;
	
}


/* フッター */
footer{
  
  width: 100%;
  height:120px;
  background: #10533e;
 
}
.copyright{
  text-align: center;
  padding: 2rem;
  color: #030303;
}

/* ログイン画面 --------------------------------------------------------------------------------------*/

.loginbackground {
  background-color: #d9d9d9;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 30% center;
  min-height: 80vh;
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  padding-top: 5rem;
  text-align: center;
  
  font-size: 42px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container{
  width: 600px;
  margin: 70px auto;

  background: #fff;

  padding: 50px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.login-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.message {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  font: size 18px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.inputbox input[type="text"],
.inputbox input[type="password"] {
  width: 380px;
  height: 55px;
  padding-left: 18px;
  font-size: 18px;
  border: none;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.login-btn {
  width: 380px;
  height:55px;
  margin-top: 30px;
  border: none;
  border-radius: 12px;
  background: #898989;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover{
  background-color: #aaaaaa;
}

hr{
  margin:40px auto 15px;
  width: 85%;
}

.register-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}
.register-area {
  text-align: center;
  
}
.register-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 55px;
  border: none;
  border-radius: 12px;
  background-color: #a96a4d;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: #030303;
}

.register-btn:hover {
  background-color: #ad8776;
}

/*input[type="checkbox"] {*/
/*  transform: scale(0.4);  0.4倍のサイズ */
/*}*/

.password-check {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	white-space: nowrap;
}
.password-check label {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}
.password-check input[type="checkbox"] {
	margin: 0;
}
.login-error, .input-error {
	text-align: center;
	color: rgb(255, 0, 0);
	font-weight: bold;
}

/*メニュー画面------------------------------------------*/

.roomimg{
	position: relative;
	
	overflow: hidden;
	
}

.hero-img {
/*	width: 100%;*/
/*	height: auto;*/
/*	display: block;*/
	
	position: absolute;
	top:0;
	left:0;

	width:100%;
	height:100%;

	object-fit:cover;

	opacity:0;

	animation: heroFade 14s infinite;
	
}

.img1 {
	
	animation-delay: 0s;
	
}
.img2 {
	animation-delay: 7s;
}
.roomimg::before {
	content: "";
	display: block;
	padding-top: 56%;
	
}


@keyframes heroFade{

    0%{
        opacity:1;
    }
	40% {
		opacity: 1;
	}

    50%{
        opacity:0;
    }
	90% {
		opacity: 0;
	}
	
    100%{
        opacity:1;
    }
	

    

}
.hero-text {
	position: absolute;
	top:30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #4b2e1f;
	text-align: center;
	white-space: nowrap;
	
}
.hero-text h2 {
	font-size: 1.5rem;
}

.menubackground{
  margin:0;
  background: #f5f5f5;
  }
  
.menutitle{
	margin: 0;
	  padding-top: 1.5rem;
	  font-family: "Marcellus", serif;
	  font-weight: 400;
	  font-style: normal;
	  text-align: center;
	  font-size: 2rem;
	  color: black;
	  
	
}
.menutitleja{
	text-align: center;
}
.menutext{
	max-width: 736px;
	padding: 0 1.5rem;
	margin: 1rem auto 0;
	
}


header{
	position: relative;
	padding-right: 2rem;
}
.user-area{
	display: flex;
	align-items: center;
	gap: 1rem; 
	flex-direction: row;
	
}
.username{
	
	margin: 0;
	font-size: 1rem;
	color: #f5f5f5;
}
.logout{
	display: inline-block;
	padding: 0.5rem;
	background-color: #f5f5f5;
	color: #10533e;
	text-decoration: none;
	border-radius: 0.5rem;
}
.logout:hover{
	background-color: rgb(159, 159, 159);	
}
.menu-contents {
margin-top: 0;
padding-top: 5rem;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.menu1 { grid-area: 1 / 2 / 3 / 3; }
.menu2 { grid-area: 1 / 4 / 3 / 5; }
.menu3 { grid-area: 3 / 2 / 5 / 3;
		padding-top: 5rem; }
.menu4 { grid-area: 3 / 4 / 5 / 5;
		padding-top: 5rem; }

.menu-contents img {
	width: 20rem;
	height: auto;
	
}
.recruit-link {
	padding-left: 1rem;
}
.recruit-linktext {
	color: #030303;
	border: none;
	font-size: 1.5rem;
	padding-left: 1rem;
	text-decoration: none;
	font-weight: bold;
}


.recruit-linktext p {
	padding-left: 1rem;

	font-size: 1rem;
	font-weight: normal;
}
	

/*商品一覧--------------------------------------------*/

.product-img {
	width:80%;
	height:auto;
	
}
.category-menu {
	display: flex;
	justify-content: space-around;
}

.category-menu a {
	
	border: none;
	text-decoration: none;
	color: #030303;
}


.product-detail {
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	text-align: center;
	margin: 2rem;
}

.product-description {
	display: flex;
	flex-direction: column;
}
.product-description {
	width:90%;
}
	 

.category-name {
	padding-left: 2rem;
}
.subtitle {
	margin: 0;
	padding-top: 1.5rem;
	font-family: "Marcellus", serif;
	font-weight: 200;
	font-style: normal;
	padding-left: 2rem;
	font-size: 1.5rem;
	color: black;
	
}
.product-name {
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	color: #030303;
	
}
.product-price {
	font-family: "Marcellus", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3rem;
	color: #030303;
	text-align: right;
	
}

.quantity {
	
	justify-content: center;
	
	padding-right: 0;
}
.cart-btn {
	width: 15rem;
	height: 2rem;
	background-color: #030303;
	color: #e5e5e5;
	margin-left: 2rem ;

}
.cart-btn:hover{
  background-color: #aaaaaa;
  color: #030303;
}
/*カート----------------------------------------------*/

.cart-list {
	overflow-x: auto;
	
}


.cart-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	gap: 4rem;
	margin: 3rem auto;
	width: 90%;
	max-width: 1200px;
}

.cart-list table{
	border-collapse: collapse;
	border: none;
	width: 100%;
	min-width: 700px;
}

.cart-list td {
	border-bottom: 1px solid #ddd;
	padding: 2rem 1rem;
	
}

.cart-list img {
	width: 140px;
	border-radius: 8px;
}

.cart-price {
	width: fit-content;
	margin: 30px auto 0;
	padding: 30px;
	border-radius: 10px;
	position: sticky;
	top: 120px;
	text-align:left;
	font-size: 1.5rem;
}

.cart-edit-btn {
	border: none;
	background: none;
	color: #666;
	cursor: pointer;
}
.cart-edit-btn {
	color: #030303;
}
.buy-btn,
.next-btn,
.order-btn,
.create-btn,
.edit-btn {
	width: 30%;
	height: 55px;
	border: none;
	background-color: #8A9A5B;
	color: white;
	border-radius: 30px;
	font-size: 1rem;
	margin-top: 2rem;
}
.buy-btn:hover,
.next-btn:hover, 
.order-btn:hover,
.create-btn:hover,
.edit-btn:hover {
	background-color: #d9d9d9;
	color: #030303;
}
.not-in-the-cart {
	text-align: center;
	font-size: 2rem;
}
.cart-container {
	min-height: 100vh;
}
/* 注文者情報入力-------------------------------------*/
.order-form, 
.account-edit-form,
.account-form {
	width: 90%;
	max-width: 500px;
	margin: 3rem auto;
	
	
}
.order-form form,
.account-edit-form form,
.account-form form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.order-form p,
.account-edit-form p,
.account-form p {
	width: 100%;
	text-align: left;
}

.order-form input,
.order-form select,
.account-edit-form input,
.account-edit-form select,
.account-form input,
.account-form select {
	width: 100%;
	max-width: 500px;
	height: 45px;
	padding: 0 1rem;
	font-size: 16px;
	box-sizing: border-box;
}
.order-form button,
.order-form input[type="submit"],
.account-edit-form button,
.account-edit-form input[type="submit"],
.account-form button,
.account-form input[type="submit"] {
	align-self: center;
}
.price-area {
	text-align: center;
	margin-top: 2rem;
}
.price-area p {
	text-align: center;
}

/*注文内容の確認--------------------------------------*/
.order-confirm {
	width: 60%;
	max-width: 600px;
	margin: 3rem auto;
	text-align: left;
	padding: 0 2rem;
	box-sizing: border-box;
}


/*注文完了画面----------------------------------------*/
.thankyou {
	text-align: center;
	font-size: 2rem;
}
.order-complete-main {
	min-height: 80vh;
	width: 100%;
}
.link-btn {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	
}
.link-btn a,
.back-btn{
	border: none;
	text-decoration: none;
	color: #e5e5e5;
	background-color: rgb(105, 66, 22);
	margin: 1rem;
	padding: 1rem;
	border-radius: 30px;
	
}
.link-btn a:hover, 
.back-btn:hover {
	background-color: rgb(200, 152, 130);
}

.mail-error,
.account-message,
.error-message {
	width: 100%;
	text-align: center !important;
	font-weight: bold;
	color: rgb(255, 0, 0);
}

.mail-message,
.order-number {
	text-align: center;
}

/*アカウント編集-------------------------------*/
/*.account-edit-form input[type="checkbox"],*/
/*.account-form input[type="checkbox"] {*/
/*  transform: scale(0.4);  0.4倍のサイズ */
/*}*/

/*購入履歴-------------------------------------*/
.order-history {
	padding: 2rem;
}

.not-order-history {
	text-align: center;
	font-size: 1.5rem;
}
.order-list {
	flex-direction: column;
	align-items: center;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	margin: 2rem auto;
}
.order-card {
	width: 95%;
	min-width: auto;
	
	padding: 25px;
	border: 1px solid #ddd;
	border-radius: 12px;
	
}
.order-card table{
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}

.order-card th,
.order-card td {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}



/*JS用のcss*/
.js-scroll-item {
	opacity: 0;
	transform: translateY(30px);
	transition:
	opacity 1s ease,
	transform 1s ease;
}

.js-scroll-item.is-show {
	opacity: 1;
	transform: translateY(0);
}



/*管理者ページ用*/
.admin-title{
    color: black;
    text-align: center;
    font-size: 40px;
    margin:10px 0px 20px;
}
.admin-tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.admin-table {
    border-collapse: collapse;
}

.admin-table,
.admin-table th,
.admin-table td {
    border: 3px solid rgb(192, 192, 192);
}



/*リクルート*/
.recruit{
	display: flex;
}


/*デスクトップ版---------------------------------------*/

@media (min-width: 600px) {
	


/* メニュー*/
.roomimg{
  background-position: 40% center;
  min-height: 100vh;
}

.hero-text h2 {
	font-size: 2rem;
}

.recruit-linktext {
	
	font-size: 2rem;
	padding-left: 7rem;
	text-decoration: none;
	font-weight: bold;
}


.recruit-linktext p {
	padding-left: 7rem;

	font-size: 1rem;
	font-weight: normal;
}
/*商品一覧*/
.product-img {
	width: 50%;
	height: auto;
}

.product-detail {
	flex-direction: initial;
	display: flex;
	align-items: flex-start;
	gap: 3rem;
	justify-content: center;
}
.product-description {
	display: flex;
	flex-direction: column;
}

.quantity {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	
}

}
@media (min-width: 900px) {
	
	
	/*ヘッダー*/
	header{
	  display: flex;
	  align-items: center;
	  padding: 0;
	  height: 100px;
	  flex-direction: row;
	  padding-left: 2rem;
	  padding-right: 2rem;
	}
	.header-menu{
		display: flex;
		justify-content: flex-end;
		gap: 2rem;
		margin-right: 2rem;
		flex-direction: initial;
		padding-bottom: 1rem;
		white-space: nowrap;
		
	}

	.logotitle {
		margin-right: auto;
		
		
	}
/* メニュー*/
.roomimg{
  background-position: 60% center;
  min-height: 100vh;
}
.hero-text h2 {
	font-size: 3rem;
}
/*商品一覧*/
.product-img {
	width: 400px;
	height: auto;
}
.product-list {
	padding: 2rem 4rem;
}

/*カート*/
.cart-list {
	overflow-x: initial;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.2rem;
}
.cart-wrapper {
	width: fit-content;
	margin: 3rem auto;
}

/*購入履歴*/
.order-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.order-card {
	width: calc(50% - 1rem);
	min-width: 420px;
}

}

